---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
    return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
    <main class="flex flex-col gap-20">
        <article
            class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-48">
            {
                
                presentation.profile && (
                    <div class="flex flex-col items-center gap-2">
                        <Image
                            src={presentation.profile}
                            class="w-1/2 self-center rounded-full"
                            alt="Your Profile"
                            width="200"
                            height="200"
                        />
                        
                        <div id="status" class="inline-flex items-center py-[4px] px-[12px] rounded-[6px] text-l font-medium gap-1">
                            <div id="status-c" style="height: 8px; width: 8px; border-radius: 24px; opacity: 1; margin-top: 3px;"></div>
                            <div id="statusTxt" class="ml-1 font-sans font-normal text-[14px] not-italic leading-5"></div>
                        </div>

                        <div style="" class="inline-flex items-center py-[2px] px-[12px] rounded-[6px] bg-blue-950 text-l font-medium text-blue-400">
                            <div id="activity" class="flex gap-2 ml-1 font-sans font-normal text-[11px] italic leading-5"></div>
                        </div>
                       
                    </div>
                )
            }

            <div class="flex flex-col gap-8">
                <h1 class="text-3xl text-neutral-100 flex items-center gap-2">
                    {presentation.title}
                </h1>

                <h2
                    class="w-auto max-w-[60ch] leading-6"
                    set:html={convertAsteriskToStrongTag(
                        presentation.description
                    )}
                />

                <SocialLinks />
            </div>
        </article>

        <article class="flex flex-col gap-8">
            <header class="flex w-full flex-row justify-between gap-2">
                <h3 class="text-lg text-neutral-100">Latest posts</h3>
                <Link
                    href="/posts"
                    label="See all posts"
                    isUnderline
                    target="_self"
                />
            </header>
            {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

            <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
                {
                    posts.length !== 0 &&
                        posts
                            .slice(0, 3)
                            .map((post) => (
                                <PostCard
                                    publishedAt={post.data.publishedAt}
                                    title={post.data.title}
                                    description={post.data.description}
                                    slug={post.slug}
                                />
                            ))
                }
            </section>
        </article>

        <article class="flex flex-col gap-8">
            <header class="flex w-full flex-row justify-between gap-2">
                <h3 class="text-lg text-neutral-100">
                    Selected projects ({projects.length})
                </h3>
            </header>
            {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

            <section class="flex flex-col gap-4">
                {
                    projects.length !== 0 &&
                        projects.map((project) => <ProjectCard {...project} />)
                }
            </section>
        </article>

        <article class="flex flex-col gap-8">
            <header class="flex w-full flex-row justify-between gap-2">
                <h3 class="text-lg text-neutral-100">Get in touch</h3>
            </header>
            <p>
                Email me at <Link
                    href={`mailto:${presentation.mail}`}
                    label={presentation.mail}
                /> or follow me via my social links.
            </p>

            <SocialLinks />
        </article>
    </main>
</Layout>
