---
type Props = {
  company: string;
  start: Date;
  end: Date;
  country: string;
  city: string;
  position: string;
  description: string;
};

const { company, start, end, country, city, position, description } = Astro.props;

function time_diff(start, end) {
  const diff = Math.abs(end.getTime() - start.getTime());
  const days = Math.ceil(diff / (1000 * 60 * 60 * 24));

  const years = Math.floor(days / 365);
  const months = Math.floor((days % 365) / 30);

  var result = "";
  result += years != 0 ? years + " year" + (years > 1 ? "s" : "") : "";
  result += months != 0 ? (years != 0 ? ", " : "") + months + " month" + (months > 1 ? "s" : "") : "";

  return result;
}
---

<div class="relative pl-8 sm:pl-32 py-6 group font-sans">
    <!-- Purple label -->
    <div class="flex gap-2 ">
      <div class="font-caveat text-xl text-orange-500 font-extrabold mb-1 sm:mb-0">{company}</div>
      <span class="self-center text-orange-200">{city}, {country}</span>
    </div>
    <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
    <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-orange-500 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
        <time class="sm:absolute -left-1 top-11 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-24 h-9 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">{end.toLocaleDateString('en-US', {month: 'short', year: 'numeric'}).replace(/ /g, ', ')}<br/>{start.toLocaleDateString('en-US', {month: 'short', year: 'numeric'}).replace(/ /g, ', ')}</time>
        <div class="text-sm font-normal text-slate-200">{position}</div>
    </div>
    <!-- Content -->
    <div></div>
    <span class="self-center text-[#a7b0b0] text-xs">{time_diff(start, end)}</span>
    <div class="">{description}</div>
</div>